# U.S. Medical Insurance Costs

In [5]:
import pandas as pd
data = pd.read_csv('C:/Users/Asus/Downloads/python-portfolio-project-starter-files/python-portfolio-project-starter-files/insurance.csv')
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [8]:
data.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [11]:
data.count()

age         1338
sex         1338
bmi         1338
children    1338
smoker      1338
region      1338
charges     1338
dtype: int64

Find the average age of the patients

In [12]:
data['age'].mean()

39.20702541106129

Find the majority of the individuals are from

In [14]:
data['region'].value_counts()

southeast    364
southwest    325
northwest    325
northeast    324
Name: region, dtype: int64

Look at the different costs between smokers vs. non-smoker

In [15]:
data['smoker'].value_counts()

no     1064
yes     274
Name: smoker, dtype: int64

In [41]:
!pip install plotly matplotlib seaborn --quiet

In [42]:
import plotly.express as px
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [43]:
sns.set_style('darkgrid')
matplotlib.rcParams['font.size'] = 14
matplotlib.rcParams['figure.figsize'] = (10, 6)
matplotlib.rcParams['figure.facecolor'] = '#00000000'

In [46]:
fig = px.histogram(data, 
                   x='age', 
                   marginal='box', 
                   nbins=47, 
                   title='Distribution of Age')
fig.update_layout(bargap=0.1)
fig.show(renderer='iframe')

In [49]:
fig = px.histogram(data, 
                   x='bmi', 
                   marginal='box', 
                   color_discrete_sequence=['red'], 
                   title='Distribution of BMI (Body Mass Index)')
fig.update_layout(bargap=0.1)
fig.show(renderer='iframe')

In [ ]:
fig = px.histogram(data, 
                   x='charges', 
                   marginal='box', 
                   color='smoker', 
                   color_discrete_sequence=['red', 'grey'], 
                   title='Annual Medical Charges')
fig.update_layout(bargap=0.1)
fig.show(renderer='iframe')

# Visualization of the distribution of medical charges in connection with other factors like "sex" and "region".

In [51]:
fig = px.histogram(data,
                   x = 'charges',
                   color = 'sex',
                   color_discrete_sequence = ["blue","red"],
                   title = 'Different charges over genders'
               
)
fig.update_layout(bargap=0.1)
fig.show(renderer='iframe')

In [52]:
fig = px.histogram(data,
                  x = "charges",
                  marginal = 'box', 
                   color="region",
                  title = "charges over different regions of U.S.A")
fig.update_layout(bargap=0.1)
fig.show(renderer='iframe')

In [47]:
fig = px.histogram(data, x='smoker', color='sex', title='Smoker')
fig.show(renderer='iframe')

In [48]:
fig = px.scatter(data, 
                 x='bmi', 
                 y='charges', 
                 color='smoker', 
                 opacity=0.8, 
                 hover_data=['sex'], 
                 title='BMI vs. Charges')
fig.update_traces(marker_size=5)
fig.show(renderer='iframe')

In [53]:
fig = px.scatter(data, 
                 x='age', 
                 y='charges', 
                 color='smoker', 
                 opacity=0.8, 
                 hover_data=['sex'], 
                 title='Age vs. Charges')
fig.update_traces(marker_size=5)
fig.show(renderer='iframe')

In [57]:
!pip install nbconvert
!pip install pyppeteer

Requirement already satisfied: nbconvert in c:\users\asus\anaconda3\lib\site-packages (6.1.0)
Requirement already satisfied: jinja2>=2.4 in c:\users\asus\anaconda3\lib\site-packages (from nbconvert) (2.11.3)
Requirement already satisfied: jupyter-core in c:\users\asus\anaconda3\lib\site-packages (from nbconvert) (4.8.1)
Requirement already satisfied: entrypoints>=0.2.2 in c:\users\asus\anaconda3\lib\site-packages (from nbconvert) (0.3)
Requirement already satisfied: traitlets>=5.0 in c:\users\asus\anaconda3\lib\site-packages (from nbconvert) (5.1.0)
Requirement already satisfied: bleach in c:\users\asus\anaconda3\lib\site-packages (from nbconvert) (4.0.0)
Requirement already satisfied: jupyterlab-pygments in c:\users\asus\anaconda3\lib\site-packages (from nbconvert) (0.1.2)
Requirement already satisfied: testpath in c:\users\asus\anaconda3\lib\site-packages (from nbconvert) (0.5.0)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\asus\anaconda3\lib\site-packages (from nbconvert) (1.4.3)
Requirement already satisfied: nbformat>=4.4 in c:\users\asus\anaconda3\lib\site-packages (from nbconvert) (5.1.3)
Requirement already satisfied: pygments>=2.4.1 in c:\users\asus\anaconda3\lib\site-packages (from nbconvert) (2.10.0)
Requirement already satisfied: mistune<2,>=0.8.1 in c:\users\asus\anaconda3\lib\site-packages (from nbconvert) (0.8.4)
Requirement already satisfied: nbclient<0.6.0,>=0.5.0 in c:\users\asus\anaconda3\lib\site-packages (from nbconvert) (0.5.3)
Requirement already satisfied: defusedxml in c:\users\asus\anaconda3\lib\site-packages (from nbconvert) (0.7.1)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\asus\anaconda3\lib\site-packages (from jinja2>=2.4->nbconvert) (1.1.1)
Requirement already satisfied: nest-asyncio in c:\users\asus\anaconda3\lib\site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert) (1.5.1)
Requirement already satisfied: async-generator in c:\users\asus\anaconda3\lib\site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert) (1.10)
Requirement already satisfied: jupyter-client>=6.1.5 in c:\users\asus\anaconda3\lib\site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert) (6.1.12)
Requirement already satisfied: tornado>=4.1 in c:\users\asus\anaconda3\lib\site-packages (from jupyter-client>=6.1.5->nbclient<0.6.0,>=0.5.0->nbconvert) (6.1)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\asus\anaconda3\lib\site-packages (from jupyter-client>=6.1.5->nbclient<0.6.0,>=0.5.0->nbconvert) (2.8.2)
Requirement already satisfied: pyzmq>=13 in c:\users\asus\anaconda3\lib\site-packages (from jupyter-client>=6.1.5->nbclient<0.6.0,>=0.5.0->nbconvert) (22.2.1)
Requirement already satisfied: pywin32>=1.0 in c:\users\asus\anaconda3\lib\site-packages (from jupyter-core->nbconvert) (228)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in c:\users\asus\anaconda3\lib\site-packages (from nbformat>=4.4->nbconvert) (3.2.0)
Requirement already satisfied: ipython-genutils in c:\users\asus\anaconda3\lib\site-packages (from nbformat>=4.4->nbconvert) (0.2.0)
Requirement already satisfied: attrs>=17.4.0 in c:\users\asus\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.4->nbconvert) (21.2.0)
Requirement already satisfied: six>=1.11.0 in c:\users\asus\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.4->nbconvert) (1.16.0)
Requirement already satisfied: pyrsistent>=0.14.0 in c:\users\asus\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.4->nbconvert) (0.18.0)
Requirement already satisfied: setuptools in c:\users\asus\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.4->nbconvert) (58.0.4)
Requirement already satisfied: packaging in c:\users\asus\anaconda3\lib\site-packages (from bleach->nbconvert) (21.0)
Requirement already satisfied: webencodings in c:\users\asus\anaconda3\lib\site-packages (from bleach->nbconvert) (0.5.1)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\asus\anaconda3\lib\site-packages (from packaging->bleach->nbconvert) (3.0.4)
Collecting pyppeteer
  Downloading pyppeteer-1.0.2-py3-none-any.whl (83 kB)
Requirement already satisfied: urllib3<2.0.0,>=1.25.8 in c:\users\asus\anaconda3\lib\site-packages (from pyppeteer) (1.26.7)
Collecting websockets<11.0,>=10.0
  Downloading websockets-10.4-cp39-cp39-win_amd64.whl (101 kB)
Requirement already satisfied: certifi>=2021 in c:\users\asus\anaconda3\lib\site-packages (from pyppeteer) (2021.10.8)
Requirement already satisfied: importlib-metadata>=1.4 in c:\users\asus\anaconda3\lib\site-packages (from pyppeteer) (4.8.1)
Requirement already satisfied: appdirs<2.0.0,>=1.4.3 in c:\users\asus\anaconda3\lib\site-packages (from pyppeteer) (1.4.4)
Collecting pyee<9.0.0,>=8.1.0
  Downloading pyee-8.2.2-py2.py3-none-any.whl (12 kB)
Requirement already satisfied: tqdm<5.0.0,>=4.42.1 in c:\users\asus\anaconda3\lib\site-packages (from pyppeteer) (4.62.3)
Requirement already satisfied: zipp>=0.5 in c:\users\asus\anaconda3\lib\site-packages (from importlib-metadata>=1.4->pyppeteer) (3.6.0)
Requirement already satisfied: colorama in c:\users\asus\anaconda3\lib\site-packages (from tqdm<5.0.0,>=4.42.1->pyppeteer) (0.4.4)
Installing collected packages: websockets, pyee, pyppeteer
Successfully installed pyee-8.2.2 pyppeteer-1.0.2 websockets-10.4

In [62]:
jupyter nbconvert --to webpdf --allow-chromium-download Untitled.ipynb

SyntaxError: invalid syntax (Temp/ipykernel_11728/3823251515.py, line 1)